.contact-form {
	padding: 0 0 2em;
}

.btn-default {
	background: $primary-color;
	color: $white;
	text-transform: uppercase;
}

.form-hidden {
	position: relative;
}
.dontshow {
	position: absolute;
	top: -9999;
	left: -9999;
	visibility: hidden;
}