Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^store$ ./store.php
RewriteRule ^store/$ ./store.php

RewriteRule ^about$ ./about.php
RewriteRule ^about/$ ./about.php

RewriteRule ^contact$ ./contact.php
RewriteRule ^contact/$ ./contact.php

RewriteRule ^contactthanks$ ./contactthanks.php
RewriteRule ^contactthanks/$ ./contactthanks.php

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP